@using nBlog.sdk.Model;
@using NBlog.Server.Model;
@using Toolbox.Extensions;
@using System.IO;
@using NBlog.Server.Application;
@using nBlog.sdk.ArticlePackage.Extensions;

<div class="card article-card">
    <div class="row no-gutters">
        <div class="col-md-2 p-md-2">
            <img src="@ImageSrc" class="card-img" style="max-height: 250px;max-width:110px" />
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h4 class="card-title">
                    <NavLink href="@ArticleLink">@Manifest.Title</NavLink>
                </h4>
                <p>@AuthorText</p>
                <p class="card-text">@Manifest.Summary</p>

                <div class="row">
                    <div class="col-md-12">
                        <hr class="card-footer-divider" />
                    </div>
                    <div class="col-md-2">
                        <NavLink class="btn-blog" href="@ArticleLink">Read more <span class="oi oi-arrow-right"></span></NavLink>
                    </div>
                    <div class="col-md-10 pt-1">

                        @if (Manifest.Tags != null && Manifest.Tags.Count > 0)
                        {
                            @foreach (var item in Manifest.GetReferences())
                            {
                                <div class="float-right">
                                    <NavLink class="btn border topic-btn-small" href="@NavRoutes.GotoByTag(item)">@item</NavLink>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ArticleCache ArticleCache { get; set; } = null!;

    public ArticleManifest Manifest => ArticleCache.GetArticleManifest();

    private string AuthorText => (Manifest.Author.IsEmpty() ? string.Empty : Manifest.Author + " ") + Manifest.Date.ToString("MMMM dd, yyyy");

    private string GetIconImageBase64()
    {
        if (Manifest.ImageFile.IsEmpty()) return string.Empty;

        byte[] bytes = ArticleCache.GetPackageItem(Manifest.ImageFile);
        return Convert.ToBase64String(bytes);
    }

    private string ImageSrc
    {
        get
        {
            if (Manifest.ImageFile.IsEmpty()) return string.Empty;

            string extension = Path.GetExtension(Manifest.ImageFile).Remove(0, 1);
            return $"data:image/{extension};base64, {GetIconImageBase64()}";
        }
    }

    private string ArticleLink => NavRoutes.GotoArticle(Manifest.ArticleId);
}